@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @extend .suse-200;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.suse-200 {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
